<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
									integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
									crossorigin="anonymous">
									
			<title>Save Book</title>

		</head>

		<body>
				
			<div class="container">
			
				<h3>Book Directory</h3>
				<hr>
				
				<p class="h4 mb-4">Save Book</p>
				
				<form action="#" th:action="@{/books/save}"
								 th:object="${books}" method="POST">
				
				</form>
			</div>
			
		</body>

	</html>